/** LohasIT - 隱藏更新購物車按鈕。 - 開始 **/
body.woocommerce-cart.woocommerce-page button[name="update_cart"]{
    display:none;
}

.woocommerce-shipping-destination {
    display:none;
}
.shipping-calculator-button {
    display:none !important;
}
/** 結束 **/