/* ================ 以下優惠券 */
/*coupon_table*/
@media only screen and (min-width: 1025px){
.coupon_table {
    display: grid;
    grid-template-columns: repeat(2, 1fr);}
}

/*單張coupon*/
.cus-coupon-table {
    display: block;
    margin: 10px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    background: #FFF;
}

/*單張coupon長寬*/
.cus-coupon {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    padding: 15px 20px 30px 20px;
    align-items: center;
    color: #777;
}

/*copy bt*/
.cus-copy-bt{
    float: right;
    padding: 2px 0px;
    line-height: 2;
}

.cus-copy{
    position: relative;
}

/*copy bt - hover*/
.cus-copy-bt:hover::before{
    content: '複製';
    display: block;
    position: absolute;
    top: -33px;
    right: -18px;
    border-radius: 2px;
    padding: 2px 10px;
    font-size: .8em;
    color: #FFF;
    background: #156bdb;

}

.cus-copy-bt:hover::after {
    content: '';
    position: absolute;
    top: -11px;
    right: -8px;
    width: 0;
    height: 0;
    border: 12px solid transparent;
    border-top-color: #156bdb;
}

.cus-copy-bt:hover{
    cursor: pointer;
}

/*value hide*/
.cus-coupon-number{
    display: none;
}

/*折扣碼 & 描述*/
.cus-title,
.cus-description {
    line-height: 1.5;
    color: #000;
    
}

.cus-title{
    font-size: 18px;
    font-weight: 500;
    padding: 2px 0px;
}

.cus-description{
    font-size: 16px;
    font-weight: 400;
    padding: 2px 0px 10px;
    border-bottom: 1px solid #DDDDDD;
}

/*可用次數 - 已用次數 - 使用期限*/
.cus-use-coupon, .cus-used-coupon, .cus-coupon-date{
    font-size: 15px;
    color: #828282;
}

.cus-use-coupon {
    margin-top: 10px;
}

/*狀態*/
.cus-coupon-tag {
    position: absolute;
    right: 20px;
    bottom: 30px;
}

/*顯示狀態 - 有效 失效 已使用*/
.cus-coupon-status-valid,
.cus-coupon-status-invalid,
.cus-coupon-status-used{
    min-width: 40px;
    height: auto;
    border-radius: 2px;
    padding: 13px 15px;
    line-height: 1;
    color: #FFF;
}

/*有效*/
.cus-coupon-status-valid{
    background: #4BB461;
}

/*失效*/
.cus-coupon-status-invalid{
    background: #E42234;
}

/*已使用*/
.cus-coupon-status-used{
    background: #7B7B7B;
}
