/* *{
    font-family: 'Noto Sans TC';
} */

.fa {
    font-family: FontAwesome;
}

/*========================== 訂單查詢頁面手機版＿四瓶20220328 ==========================*/
@media only screen and (max-width: 768px){
    .woocommerce-MyAccount-orders a.woocommerce-button.button.view{
        width: 100%;
        text-align: center;
    }
}

/*========================== 購物車頁面手機版＿四瓶20220325 ==========================*/

@media only screen and (max-width: 768px) {
    /* 商品明細表格 */
    .woocommerce-cart-form .shop_table tbody tr{
        display: flex !important;
        flex-wrap: wrap;
        border-bottom: 1px solid rgba(0,0,0,.1);
    }

    .woocommerce-cart-form .shop_table tbody tr .product-remove,
    .woocommerce-cart-form .shop_table tbody tr .product-price,
    .woocommerce-cart-form .shop_table tbody tr .product-quantity,
    .woocommerce-cart-form .shop_table tbody tr .product-subtotal{
        width: 100%;
    }

    .woocommerce-cart-form .shop_table tbody tr .product-remove a.remove{
        line-height: 20px !important;
    }

    .woocommerce-cart-form .shop_table tbody tr .product-thumbnail{
        display: inline-block !important;
        width: 25%;
    }

    .woocommerce-cart-form .shop_table tbody tr .product-thumbnail::before,
    .woocommerce-cart-form .shop_table tbody tr .product-name::before{
        display: none !important;
    }

    .woocommerce-cart-form .shop_table tbody tr .product-thumbnail a,
    .woocommerce-cart-form .shop_table tbody tr .product-thumbnail a>img{
        width: 100% !important;
        max-width: unset !important;
    }

    .woocommerce-cart-form .shop_table tbody tr .product-name{
        display: flex !important;
        justify-content: start;
        align-items: center;
        width: 75%;
        text-align: left !important;
    }

    .woocommerce-cart-form .shop_table tbody tr .product-quantity .quantity{
        display: flex;
        justify-content: end;
    }

    .woocommerce-cart-form .shop_table tbody td{
        border-top: unset !important;
    }

    .woocommerce-cart-form .shop_table tbody tr .actions{
        width: 100%;
    }

    .woocommerce-cart-form .shop_table tbody tr .actions .coupon{
        display: flex;
    }

    #coupon_code,
    .woocommerce-cart-form .shop_table button[name="apply_coupon"]{
        width: 100% !important;
        min-width: 100px !important;
    }
}

/*========================== 結帳頁面＿四瓶20220328 ==========================*/
body.woocommerce-checkout #payment .payment_box::before{
    display: none;
}

@media only screen and (max-width: 768px){
    button[value="請求報價"]{
        width: 100%;
    }
}

/*========================== 完成訂購頁面手機版＿四瓶20220328 ==========================*/
@media only screen and (max-width: 768px){
    ul.woocommerce-order-overview.woocommerce-thankyou-order-details>li{
        border-right: 0px;
        width: 100%;
    }

    ul.woocommerce-order-overview.woocommerce-thankyou-order-details>li+li{
        margin-top: 10px;
    }

    body.woocommerce-checkout .woocommerce-column--shipping-address{
        margin-top: 30px;
    }
}