body #mfn-item-add .mfn-popup-items .mfn-item-content {
    display: none !important;
}

body.role-administrator #mfn-item-add .mfn-popup-items .mfn-item-content {
    display: inherit !important;
}


/*在某寬度(非大螢幕)以上，顯示後台Woocommerce商品、Woocommerce訂單列表頁的調整*/
@media (min-width:780px) {
    .post-type-shop_order #posts-filter {
        overflow-x: auto;
        width: 100%;
    }

    .post-type-shop_order #posts-filter #cb,
    .post-type-shop_order #posts-filter #order_status,
    .post-type-shop_order #posts-filter #order_notes {
        width: 30px;
    }

    .post-type-shop_order #posts-filter #order_items,
    .post-type-shop_order #posts-filter #order_date {
        width: 90px;
    }

    .post-type-shop_order #posts-filter #order_title,
    .post-type-shop_order #posts-filter #billing_address,
    .post-type-shop_order #posts-filter #shipping_address,
    .post-type-shop_order #posts-filter #order_total,
    .post-type-shop_order #posts-filter #order_actions,
    .post-type-shop_order #posts-filter #allpay_e_cvs_column,
    .post-type-shop_order #posts-filter #allpay_e_express_column {
        width: 150px;
    }

    .post-type-shop_order #posts-filter .search-box,
    .post-type-shop_order #posts-filter .tablenav-pages {
        float: left;
    }

    .post-type-product #posts-filter {
        overflow-x: auto;
        width: 100%;
    }

    .post-type-product #posts-filter #cb,
    .post-type-product #posts-filter #thumb,
    .post-type-product #posts-filter #featured,
    .post-type-product #posts-filter #product_type {
        width: 30px;
    }

    .post-type-product #posts-filter #name,
    .post-type-product #posts-filter #sku {
        width: 150px;
    }

    .post-type-product #posts-filter #is_in_stock,
    .post-type-product #posts-filter #product_cat,
    .post-type-product #posts-filter #product_tag,
    .post-type-product #posts-filter #date {
        width: 90px !important;
    }

    .post-type-product #posts-filter #price {
        width: 120px;
    }

    .post-type-product #posts-filter .search-box,
    .post-type-product #posts-filter .tablenav-pages {
        float: left;
    }
}





/* -----------------------------------------------------------------------*/
/*
	Betheme Child: admin-css.css (assets/css/admin-css.css)
	V 0.1
	by Lohas AuOzzy
*/
/* -----------------------------------------------------------------------*/
@media only screen and (min-width: 780px) {

    .post-type-shop_order #posts-filter #order_number,
    .post-type-shop_order #posts-filter #billing_address,
    .post-type-shop_order #posts-filter #shipping_address,
    .post-type-shop_order #posts-filter #allpay_e_express_column {
        width: auto;
    }
}

@media only screen and (max-width: 782px) {

    .post-type-shop_order #posts-filter #order_number,
    .post-type-shop_order #posts-filter #billing_address,
    .post-type-shop_order #posts-filter #shipping_address,
    .post-type-shop_order #posts-filter #allpay_e_express_column {
        display: table-cell;
    }
}

.post-type-shop_order #posts-filter {
    padding: 10px;
    overflow-x: auto;
}

.post-type-shop_order #posts-filter .widefat {
    min-width: 1280px;
    margin-bottom: 15px;
}

@media only screen and (max-width: 782px) {
    .post-type-shop_order #posts-filter .widefat {
        min-width: unset;
        width: 100%;
    }
}

@media only screen and (min-width: 780px) {
    .post-type-shop_order #posts-filter #order_date {
        width: 140px;
    }
}

@media only screen and (max-width: 782px) {
    .post-type-shop_order #posts-filter #order_date {
        display: table-cell;
    }
}

.post-type-shop_order #posts-filter #order_status {
    width: 100px;
}

@media only screen and (max-width: 782px) {
    .post-type-shop_order #posts-filter #order_status {
        display: table-cell;
    }
}

@media only screen and (max-width: 782px) {
    .post-type-shop_order #posts-filter #billing_address {
        display: none;
    }
}

@media only screen and (max-width: 782px) {
    .post-type-shop_order #posts-filter #shipping_address {
        display: none;
    }
}

@media only screen and (min-width: 780px) {
    .post-type-shop_order #posts-filter #order_total {
        width: 120px;
    }
}

@media only screen and (max-width: 782px) {
    .post-type-shop_order #posts-filter #allpay_e_express_column {
        display: none;
    }
}

.post-type-shop_order #posts-filter .column-wc_actions a.completed:after {
    /* icon demo */
    /* https://rawgit.com/woothemes/woocommerce-icons/master/demo.html */
    font-family: WooCommerce;
    content: "\e017";
}

@media only screen and (max-width: 782px) {

    .post-type-shop_order .wp-list-table td.column-order_date,
    .post-type-shop_order .wp-list-table td.column-order_status {
        display: table-cell !important;
        float: none;
    }
}

.post-type-shop_order #wpbody-content .wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-top: 15px;
    width: 100%;
    box-sizing: border-box;
}

@media only screen and (max-width: 782px) {
    .post-type-shop_order #wpbody-content .wrap {
        width: 100%;
    }
}

.post-type-shop_order #wpbody-content .wp-heading-inline {
    padding: 0;
}

.post-type-shop_order #wpbody-content .page-title-action {
    top: 0;
}

.post-type-shop_order #wpbody-content .wp-header-end {
    -webkit-box-flex: 100%;
    -ms-flex: 100%;
    flex: 100%;
}

.post-type-shop_order #posts-filter {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-top: 10px;
}

.post-type-shop_order #posts-filter .search-box {
    float: none;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
}

@media only screen and (max-width: 782px) {
    .post-type-shop_order #posts-filter .search-box {
        -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
        order: 4;
        position: relative;
    }
}

.post-type-shop_order #posts-filter .tablenav {
    margin: 0;
    padding: 0;
}

.post-type-shop_order #posts-filter .tablenav.top {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    margin-bottom: 15px;
    height: 100%;
}

.post-type-shop_order #posts-filter .tablenav.bottom {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
}

.post-type-shop_order #posts-filter .wp-list-table {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
}

/*20210605 移除編輯使用者姓氏的欄位*/
.user-last-name-wrap {
    display: none;
}

/* 訂單樣式修改 */
.tablenav .actions {
    margin-bottom: 10px;
}

/*20217022 移除編輯使用者訂購者，收件人姓氏，第二行地址的欄位*/
label[for=billing_last_name], input#billing_last_name, input#shipping_last_name, label[for=shipping_last_name], input#shipping_address_2, label[for=shipping_address_2], input#billing_address_2, label[for=billing_address_2] {
    display: none!important;
}

/*20220210 移除使用者姓氏欄位*/
label[for=last_name]{
    display: none!important;
}

input#last_name{
    display: none!important;
}

#rank_math_metabox_content_ai{
    display: none!important;
}
